// Variables

@import 'base/__base';

// Components

@import 'components/__components';

// Components

@import 'pages/__pages';

body {
  //background-color: $offwhite;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}
