.product-card {
  background-color: $white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 20px;

  .img-container {
    text-align: center;
    img {
      width: 60%;
    }
  }

  .product-info {
    .product-brand {
      font-size: 14px;
      font-weight: 700;
    }

    .product-title {
      font-size: 14px;
      min-height: 65px;
    }
  }
}
